.logos {
  width: 100px;
  height: 100px;
}
.products {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

.products:checked + img {
  opacity: 0.5;
  filter: alpha(opacity=50); /* For IE8 and earlier */
  border: 4px solid #3e9ffa;
}
