<h1>
  <fa-icon [icon]="['fas', 'laptop']"></fa-icon> Generator Docker compose configuration
</h1>
<hr class="my-4">
<form class="form-horizontal" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  <label for="exampleInputEmail1">Select platform:</label>

  <div class="form-group">
    <div class="btn-group btn-group-toggle" role="group">
      <button *ngFor="let platform of platforms" type="button" (click)="platformSelected = platform" [class]="platformSelected.value == platform.value ? ['btn btn-success'] : ['btn btn-primary']">
        {{platform.text}}
      </button>
    </div>
  </div>

  <label for="exampleInputEmail1">Select products:</label>
  <div class="form-group">
    <div class="btn-group btn-group-toggle" role="group">
      <div class="form-check-inline" *ngFor="let product of products">
        <label class="form-check-label" [hidden]="!(platformSelected.productsAvailable.indexOf(product.text)  > -1)">
          <input type="checkbox" class="form-check-input products" (change)="onCheckboxChange(product,$event)" [checked]="product.selected">
          <img class="logos" src="../../../assets/logos/{{product.image}}" alt="{{product.text}}" />
        </label>
      </div>
    </div>
  </div>

  <div class="form-group" [hidden]="!platformSelected.isCustomTargets">
    <div class="form-check">
      <input formControlName="customTargets" class="form-check-input" type="checkbox" id="customTargets" name="customTargets">
      <label class="form-check-label" for="customTargets">Custom targets</label>
    </div>
  </div>

  <section [hidden]="!f.customTargets.value">
    <div class="card-deck">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">
            <fa-icon [icon]="['fas', 'database']"></fa-icon> Targets Information
          </h5>
          <p>Select target's:</p>
          <div class="form-check form-check-inline">
            <input formControlName="targetCentral" class="form-check-input" type="checkbox" id="targetCentral" name="targetCentral">
            <label class="form-check-label" for="targetCentral">Target central</label>
          </div>
          <div class="form-check form-check-inline" [hidden]="!f.targetCentral.value">
            <input formControlName="targetCentralIsSqlServer" class="form-check-input" type="checkbox" id="targetCentralIsSqlServer" name="targetCentralIsSqlServer">
            <label class="form-check-label" for="targetCentralIsSqlServer">Target Central is SqlServer</label>
          </div>

          <div class="form-check">
            <input formControlName="targetLocal" class="form-check-input" type="checkbox" id="targetLocal" name="targetLocal">
            <label class="form-check-label" for="targetLocal">Target local</label>
          </div>
        </div>
      </div>

      <div class="card" [hidden]="!f.targetLocal.value && !f.targetCentral.value">
        <div class="card-body">
          <h5 class="card-title">
            <fa-icon [icon]="['fas', 'database']"></fa-icon> Databases Information
          </h5>
          <div class="form-row">
            <div class="form-group col-md-6" [hidden]="!f.targetCentral.value">
              <label for="host-target-central">Host target central: </label>
              <input formControlName="hostTargetCentral" type="text" class="form-control" placeholder="Host target central" [ngClass]="{ 'is-invalid': submitted && f.hostTargetCentral.errors }">
              <div *ngIf="submitted && f.hostTargetCentral.errors" class="invalid-feedback">
                <div *ngIf="f.hostTargetCentral.errors.required">
                  <fa-icon [icon]="['fas', 'times']"></fa-icon> Host is required
                </div>
              </div>
            </div>
            <div class="form-group col-md-6" [hidden]="!f.targetCentral.value">
              <label>Port target central: </label>
              <input formControlName="portTargetCentral" type="text" class="form-control" placeholder="Port target central" [ngClass]="{ 'is-invalid': submitted && f.portTargetCentral.errors }">
              <div *ngIf="submitted && f.portTargetCentral.errors" class="invalid-feedback">
                <div *ngIf="f.portTargetCentral.errors.required">
                  <fa-icon [icon]="['fas', 'times']"></fa-icon> Port is required
                </div>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6" [hidden]="!f.targetLocal.value">
              <label for="host-target-local">Host target local: </label>
              <input formControlName="hostTargetLocal" type="text" class="form-control" placeholder="Host target local" [ngClass]="{ 'is-invalid': submitted && f.hostTargetLocal.errors }">
              <div *ngIf="submitted && f.hostTargetLocal.errors" class="invalid-feedback">
                <div *ngIf="f.hostTargetLocal.errors.required">
                  <fa-icon [icon]="['fas', 'times']"></fa-icon> Host is required
                </div>
              </div>
            </div>
            <div class="form-group col-md-6" [hidden]="!f.targetLocal.value">
              <label for="port-target-local">Port target local: </label>
              <input formControlName="portTargetLocal" type="text" class="form-control" placeholder="Port target local" [ngClass]="{ 'is-invalid': submitted && f.portTargetLocal.errors }">
              <div *ngIf="submitted && f.portTargetLocal.errors" class="invalid-feedback">
                <div *ngIf="f.portTargetLocal.errors.required">
                  <fa-icon [icon]="['fas', 'times']"></fa-icon> Port is required
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="fixed-bottom">
    <div class="container">
      <button type="submit" class="btn btn-primary">
        <fa-icon [icon]="['fas', 'download']"></fa-icon> Generate compose
      </button>
      <p>&nbsp;</p>
    </div>
  </div>

</form>
